@using EFCoreDAy28Ex1.Controllers.Context

@{
    ViewData["Title"] = "UpdateDepartment";
}



@model Department
<h1>Update Department</h1>
<form action="../CompanyDb/UpdateDepartment" method="post">
    <input type="hidden" name="DepartmentId" value="@Model.DepartmentId" />
    <input type="text" name="Name" value="@Model.Name" />
    <input type="text" name="Location" value="@Model.Location" />
    <input type="text" name="Type" value="@Model.Type" />
    <input type="number" name="Budget" step="0.01" value="@Model.Budget" />
    <input type="submit" value="Update" />
</form>






